.react-tel-input .flag-dropdown{
    background-color: #f0f0f0 !important; 
    border: 1px solid #ccc !important;
    border-radius: 10px !important;
    padding: 5px !important;

}

.react-tel-input .selected-flag{
    padding: 10 10px !important;

}

.react-tel-input .flag{
    width: 17px !important;
    height: 11px !important;
}

.react-tel-input .country-list{

    background-color: #f9f9f9 !important;
    border: 1px solid#ccc !important;
    border-radius: 3px !important;
}

.react-tel-input .country-list .country{
    padding: 5px !important;
    font-size: 14px !important;
}

.styled-select{
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
}

.styled-select:focus{
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
    outline: none;

}

.phone-input-container{
    width: 100%;
}

.phone-input{
    width: 100%;
    padding-left: 50px;
}

.flag-button{
    position: absolute;
    left : -8px;
    top: 10px;
    /* transform: translateY(-50%); */
}