img{
    width: 800px
}

.box-container{
    display: flex;
    justify-content: space-between;
    margin: 10px;

}

.box {
    border: 2px solid red;
    max-width: 850px;
}
/* .button-container{
    display: flex;
    justify-content: space-between;
    
} */